<%- include('./partials/header.ejs')%>
    <main id="items-page">
        <h2>Search Results</h2>
        <div class="item-container">
            <%if (sortedCollection.length) {%>
                <%sortedCollection.forEach(manga=> {%>
                    <div class="item">
                        <a href="/collection/<%= manga.id%>">
                            <img src="<%= manga.image%>" alt="<%= manga.title%>" name="image">
                            <h3 class="title" name="title"><%= manga.title%></h3>
                            <p class="condition" name="condition"><%= manga.condition%></p>
                            <p class="price" name="price">$<%= manga.price%></p>
                            <p class="offers" name="totalOffers"><%= manga.totalOffers%> offers</p>
                        </a>
                    </div>
                <%});%>
            <%} else {%>
                <p>There is nothing to display at the moment.</p>
            <%}%>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>