<%- include('../partials/header.ejs')%>
    <main id="item-page">
        <h2><%= manga.title%></h2>
        <p id="information">Dive into our extensive collection of Manga titles, ranging from timeless classics to the latest releases. We offer competitive prices and ship worldwide, ensuring your favorite Manga is just a click away.</p>
        <div class="container-item">
            <div id="picture" name="image"><img src="<%= manga.image%>" alt="<%= manga.title%>"></div>
            <div class="description">
                <h3 class="description" id="title" name="title"><%= manga.title%></h3>
                <p class="description" id="condition" name="condition">Condition: <span class="bold"><%= manga.condition%></span></p>
                <p class="description" id="price" name="price, totalOffers">Price: <span class="bold">$<%= manga.price%> | <%= manga.totalOffers%> offers</span></p>
                <p class="description" id="seller" name="seller">Seller: <span class="bold"><%= manga.seller%></span></p>
                <p class="description" id="comments" name="details"><%= manga.details%><br><br>Please contact if you have any questions, we will be happy to answer them.</p>
                <form>
                    <button id="edit" type="submit" formmethod="GET" formaction="/collection/<%= manga.id%>/edit">Edit</button>
                    <button id="delete" type="submit" formmethod="POST" formaction="/collection/<%= manga.id%>?_method=DELETE">Delete</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>